<html>
  <head>
    <title>Check Out</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center>
        <h1 class = "sameen">Successfully Checked Out!</h1>
    </center>

    <h3>Thank you for shopping at El Café de España!</h3>

     <div class="buttons">
    <form action = "/"> 
    <button type="submit">Return to Home Page</button>
    </form>
       
    <form action = "/logout"> 
    <button type="submit">Log Out</button>
    </form>
    </div>
    
  </body>
</html>