<html>
  <head>
    <title>Ground Coffee</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center>
    <h1 class = "sameen"> Ground Coffee </h1>
    </center>

       <div id="grid">
     {% for gc in grndcafe: %}
    <div class="product">
     
        <a href="/prod/{{gc['id']}}" class="link"> <h2>{{ gc['name'] }}</h2> </a>
         <img src= "{{ gc['pic'] }}" alt="Italian" width="250" 
     height="200">
   
      
      {% if gc['stock'] == 0 %}
        <p>Out of Stock!</p>
        <p>Price: ${{ gc['price'] }}</p>
      {% else %}
        <p>Stock: {{ gc['stock'] }}</p>
        <p>Price: ${{ gc['price'] }}</p>
      {% endif %}
      
       {% if 'name' in session: %}
            {% if gc["stock"] > 0: %}
            <form action = "/cart" method = "POST"> 
            <input type = "hidden" name = "id" value = "{{gc['id']}}">
            <input type="number" min="1" name= "quant" >
          <button type="submit">Add to Cart</button>
          </form>
       {% endif %}
      {% endif %}
    </div>
  {% endfor %}
</div>
    

      <form action = "/groundcoffee"  method = "POST" > 
    <button type="submit">Home Page</button>
    </form>

  </body>
</html>