<html>
  <head>
    <title>Search</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center>
        <h1 class = "sameen"> User the Search Bar to Search for an Item</h1>
    </center>
      <form action="/search" method = "POST">
        Search: 
      <input type="text" name= "searchresult" ><br>
  <button type="submit">Submit</button>
 </form>

      <form action = "/"> 
    <button type="submit">Return to Home Page</button>
    </form>
    
  </body>
</html>