<html>
  <head>
    <title>Sign Up</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
<body>
  <h1> Sign Up </h1>
  <form action="/signup" method = "POST">
      Enter Your First Name: 
   <input type="text" name="fname" required><br>
      Enter Your Last Name: 
   <input type="text" name="lname" required><br>
    Enter Username: 
   <input type="text" name="username" required><br>
    Enter Password: 
    <input type="text" name="password" required><br>
  <button type="submit">Submit</button>
 </form>

    <form action = "/"> 
    <button type="submit">Return to Home Page</button>
    </form>
  
</body>
</html>