<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>User Logged In</title>
 
  </head>
  <body>
 <center>
    <h1 class = "sameen"> Welcome, {{session["fname"]}} {{session["lname"]}} to El Café de España! </h1>
   
    <img src="static/madrid.png" alt="Italian" width="250" 
     height="200">
    </center>
    <div class="buttons">
       <form action = "/search" method = "POST"> 
        <input type="text" placeholder="Search Bar.." name= "searchresult">
    <button type="submit">Search</button>
      </form>
      </div>
    <div class="buttons">
       <form action = "/cart" method = "GET"> 
    <button type="submit">Cart</button>
       </form>
       <form action = "/logout"> 
    <button type="submit">Log Out</button>
       </form>
        <form action = "/orderhistory"> 
    <button type="submit">Order History</button>
       </form>
    </div>
    <h2>Products:</h2>

     <div id="grid">
  {% for p in data: %}
    <div class="product">
     
           <a href="/prod/{{p['id']}}" class="link"> <h2>{{ p['name'] }}</h2> </a>
           <img src= "{{ p['pic'] }}" alt="Italian" width="250" 
     height="200">
      
      {% if p['stock'] == 0 %}
        <p>Out of Stock!</p>
        <p>Price: ${{ p['price'] }}</p>
      {% else %}
        <p>Stock: {{ p['stock'] }}</p>
        <p>Price: ${{ p['price'] }}</p>
       <form action = "/cart" method = "POST"> 
       <input type = "hidden" name = "id" value = "{{p['id']}}">
       <input type="number" min="1" name= "quant" >
      <button type="submit">Add to Cart</button>
      </form>
      {% endif %}
    </div>
  {% endfor %}
</div>
    


    
    <h2>Categories</h2>
         <div class="buttons">
        
        <form action = "/coffeebeans"  method = "GET"> 
       <button type="submit">Coffee Beans</button>
        </form>
        
         <form action = "/groundcoffee"  method = "GET"> 
       <button type="submit">Ground Coffee</button>
         </form>
        
         <form action = "/miscellaneous"  method = "GET"> 
       <button type="submit">Miscellaneous</button>
         </form>
        
      </div>
    


  </body>
</html>