<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Username Exists</title>
 
  </head>
  <body>
 <center>
    <h1 class = "sameen"> Username already exists! </h1>
    </center>
    <h2> The username already exists. Please select another username. </h2>
    
    <div class="buttons">
    <form action = "/"> 
    <button type="submit">Home Page</button>
    </form>
    <form action = "/signup" method = "GET"> 
    <button type="submit">Sign Up Again</button>
    </form>
    </div>


  </body>
</html>